p.tedi{

	font-size: 35px;
}

input.score{

	width: 10%;
}

#tries{

	background-color: #FFFF66;
	text-align: center;
}

#correct{

	background-color: #66FF66;
	text-align: center;
}

#wrong{

	background-color: #FF6666;
	text-align: center;
}

#UIContainer{

	width: 100%;
	height: 15%;
}

#stageContainer{

	width: 100%;
	height: 85%;
}

